.login-form{
    background-image: url('../../images/background3.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 620px;
    width: 80%;
}
.create_acc:hover{
    color: rgb(3, 18, 180);
}
.create_acc{
    text-decoration-line: none;
}
form{
    background: none;
}